.r {
	transform: scale(.6);
	position: absolute;
	left: 20px;
	top: 80px;

}
.r1 {
	width: 0;
	height: 0;
	position: absolute;
	top: 80px;
	left: 100px;
	border-left: 100px solid transparent;
	border-right: 0px solid transparent;
	border-top: 250px solid black;
} 
.lin1 {
	width: 1px;
	height: 125px;
	position: absolute;
	top: 53px;
	left: 150px;
	border-left: .3px solid white;
	transform: rotate(-55deg);
}
.lin2 {
	width: 1px;
	height: 125px;
	position: absolute;
	top: 73px;
	left: 150px;
	border-left: .3px solid white;
	transform: rotate(-72deg);
}
.r1:hover {
  transform: rotate(185deg);
  position: absolute;
  top: -167px;
  left: 115px;
}
.r2 {
	width: 147px;
	height: 300px;
	position: absolute;
	top: 96px;
	left: 110px;
	border-top: 4px solid black;
	transform: rotate(31deg) ; 
} 
.r3 {
	width: 131px;
	height: 300px;
	position: absolute;
	top: 167px;
	left: 284px;
	border-top: 4px solid black;
	transform: rotate(-32deg) ; 
} 
.r4 {
	width: 0;
	height: 0;
	position: absolute;
	top: 201px;
	left: 238px;
	border-left: 40px solid transparent;
	border-right: 20px solid transparent;
	border-top: 115px solid black;
	transform: rotate(-32deg);
} 
.r4:hover {
	transform: rotate(148deg);
	position: absolute;
	top: 105px;
	left: 180px;
}
.a {
	transform: scale(.6);
	position: absolute;
	left: -10px;
	top: 80px;
}
.a1 {
	width: 0;
	height: 0;
	position: absolute;
	top: 80px;
	left: 480px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 105px solid black;
	transform: rotate(30deg);
} 

.a2 {
	width: 0;
	height: 0;
	position: absolute;
	top: 171px;
	left: 428px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 105px solid black;
	transform: rotate(210deg);
} 
.line1 {
	width: 1px;
	height: 207px;
	position: absolute;
	top: 74px;
	left: 484px;
	border-left: .3px solid white;
	transform: rotate(30deg);
}

.a3 {
	width: 0;
	height: 0;
	position: absolute;
	top: 77px;
	left: 527px;
	border-left: 45px solid transparent;
	border-right: 45px solid transparent;
	border-bottom: 145px solid black;
	transform: rotate(-30deg);
} 
.a4 {
	width: 0;
	height: 0;
	position: absolute;
	top: 202px;
	left: 600px;
	border-left: 45px solid transparent;
	border-right: 45px solid transparent;
	border-bottom: 145px solid black;
	transform: rotate(150deg);
} 
.line2 {
	width: 1px;
	height: 287px;
	position: absolute;
	top: 67px;
	left: 607px;
	border-left: .3px solid white;
	transform: rotate(-30deg);
}
.dmd1:hover {
	transform: rotate(95deg);
	position: absolute;
	top: -559px;
	left: 928px;
}
.a5 {
	width: 147px;
	height: 300px;
	position: absolute;
	top: 190px;
	left: 390px;
	border-top: 4px solid black;
	transform: rotate(36deg) ; 
} 
.n {
	transform: scale(.6);
	position: absolute;
	left: -10px;
	top: 80px;
}
.n1 {
	width: 0;
	height: 0;
	position: absolute;
	top: 80px;
	left: 700px;
	border-left: 100px solid transparent;
	border-right: 0px solid transparent;
	border-top: 250px solid black;
} 
.n1:hover {
	transform: rotate(185deg);
	position: absolute;
	top: -170px;
	left: 713px;
}
.n2 {
	width: 267px;
	height: 300px;
	position: absolute;
	top: 107px;
	left: 573px;
	border-top: 4px solid black;
	transform: rotate(69deg) ; 
}
.n3 {
	width: 0;
	height: 0;
	position: absolute;
	top: 160px;
	left: 893px;
	border-left: 26px solid transparent;
	border-right: 26px solid transparent;
	border-bottom: 170px solid black;
}
.n3:hover{
	transform: rotate(180deg);
	top: 325px;
	left: 890px;
} 
.li1 {
width: 1px;
	height: 185px;
	position: absolute;
	top: 54px;
	left: 756px;
	border-left: .3px solid white;
	transform: rotate(-40deg);
	}

.li2 {
width: 1px;
	height: 72px;
	position: absolute;
	top: 244px;
	left: 914px;
	border-left: .3px solid white;
	transform: rotate(30deg);
	}

.g1 {
	width: 0;
	height: 0;
	position: absolute;
	top: 80px;
	left: 1050px;
	border-left: 100px solid transparent;
	border-right: 0px solid transparent;
	border-top: 250px solid black;
	transform: rotate(58deg) ; 
} 
.g1:hover {
	transform: rotate(228deg);
	position: absolute;
	top: 305px;
	left: 917px;
}

.g {
	transform: scale(.6);
	position: absolute;
	left: -10px;
	top: 70px;
}
.g2 {
	width: 223px;
	height: 300px;
	position: absolute;
	top: 43px;
	left: 1058px;
	border-top: 4px solid black;
	transform: rotate(195deg) ; 
}
.g3 {
	width: 0;
	height: 0;
	position: absolute;
	top: 274px;
	left: 1191px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 100px solid black;
	transform: rotate(128deg) ; 
} 
.g3:hover{
	transform: rotate(290deg);
	position: absolute;
	left: 1270px;
	top: 319px;
}
.G {width: 1px;
	height: 220px;
	position: absolute;
	top: 80px;
	left: 1145px;
	border-left: .3px solid white;
	transform: rotate(20deg);
}
.G2 {width: 1px;
	height: 170px;
	position: absolute;
	top: 84px;
	left: 1120px;
	border-left: .3px solid white;
	transform: rotate(-2deg);
}
.e {
	transform: scale(.56);
	position: absolute;
	left: 30px;
	top: 80px;
}
.e1 {
	width: 265px;
	height: 300px;
	position: absolute;
	top: 80px;
	left: 1100px;
	border-top: 4px solid black;
	transform: rotate(90deg) ; 
} 
.e2 {
	width: 0;
	height: 0;
	position: absolute;
	top: 25px;
	left: 1458px;
	border-left: 100px solid transparent;
	border-right: 0px solid transparent;
	border-top: 250px solid black;
	transform: rotate(-90deg);
} 
.e2:hover {
	transform: rotate(90deg);
	position: absolute;
	left: 1210px;
	top: 23px;
}
.e3 {
	width: 0;
	height: 0;
	position: absolute;
	top: 160px;
	left: 1440px;
	border-left: 26px solid transparent;
	border-right: 26px solid transparent;
	border-bottom: 170px solid black;
	transform: rotate(90deg);
} 
.e3:hover {
	transform: rotate(270deg);
	position: absolute;
	left: 1270px;
} 

.e4 {
	width: 230px;
	height: 300px;
	position: absolute;
	top: 361px;
	left: 1381px;
	border-top: 4px solid black;
	
} 
.E {width: 1px;
	height: 185px;
	position: absolute;
	top: 46px;
	left: 1454px;
	border-left: .3px solid white;
	transform: rotate(50deg);
}
.E2 {width: 1px;
	height: 145px;
	position: absolute;
	top: 172px;
	left: 1452px;
	border-left: .3px solid white;
	transform: rotate(-70deg);
}

.s{
	transform: scale(.6);
	position: absolute;
	left: -46px;
	top: 60px;}

.s1 {
	width: 0;
	height: 0;
	position: absolute;
	top: 30px;
	left: 1800px;
	border-left: 26px solid transparent;
	border-right: 26px solid transparent;
	border-bottom: 170px solid black;
	transform: rotate(65deg);
}  
.s1:hover {
	transform: rotate(213deg);
	position: absolute;
	left: 1673px;
	top: 145px;
}
.s2 {
	width: 160px;
	height: 300px;
	position: absolute;
	top: -70px;
	left: 1825px;
	border-top: 4px solid black;
	transform: rotate(210deg) ; 
}
.s3 {
	width: 0;
	height: 0;
	position: absolute;
	top: 207px;
	left: 1744px;
	border-left: 100px solid transparent;
	border-right: 0px solid transparent;
	border-top: 250px solid black;
	transform: rotate(74deg) ; 
} 
.s3:hover {
	transform: rotate(211deg);
	position: absolute;
	top: 47px;
	left: 1955px;
}
.S {
	width: 1px;
	height: 145px;
	position: absolute;
	top: 270px;
	left: 1857px;
	border-left: .3px solid white;
	transform: rotate(-85deg);
}
.S1 {
	width: 1px;
	height: 145px;
	position: absolute;
	top: 255px;
	left: 1903px;
	border-left: .3px solid white;
	transform: rotate(-55deg);
}
.S2 {
	width: 1px;
	height: 145px;
	position: absolute;
	top: 73px;
	left: 1807px;
	border-left: .3px solid white;
	transform: rotate(-75deg);
}
.S3 {
	width: 1px;
	height: 145px;
	position: absolute;
	top: 73px;
	left: 1807px;
	border-left: .3px solid white;
	transform: rotate(-85deg);
}
p{
width: 370px;
position: absolute;
top: 350px;
left: 100px;
font-family: Helvetica; 
font-size: 18px;
line-height: 23px;
}







